<div class="contenedor proximos-eventos">
    <h1><%= nombrePagina %></h1>

    <div class="grid columnas-md-3">
        <% if(meetis.length > 0) { %> 
            <% meetis.forEach(meeti => { %> 
                <%- include('partials/card-meeti.ejs', { meeti }) %>
            <% }) %>
        <% } else { %>
            <p>No hay Meeti's en esta categoría</p>
        <% } %> 
    </div>
</div>